/* 
* @Author: Marte
* @Date:   2018-01-31 09:40:29
* @Last Modified by:   Marte
* @Last Modified time: 2018-01-31 14:57:04
*/
/*(二)
1.整个页面高度一定要设置成100%,一定要设置成弹性盒，主轴方向垂直向下.
2.main区域自动调整高度,设置成flex:1;为了main部分可以滚动，应该设置overflow-y：auto；overflow-x:hidden;可以省略前一句。
*/
body,html{height: 100%;}
#football{height: 100%;display:flex;flex-direction:column;}
#f_header ul{height:1.375rem;background: #0CC440;display:flex;justify-content: space-between;}
#f_header li:nth-child(1),#f_header li:nth-child(3){width: 1.375rem;/*height: 88px;*/text-align: center;line-height: 1.375rem;font-size:0.625rem;}
#f_header li:nth-child(2){
    width: 3.6875rem;height:0.75rem;display:flex;align-self: center;
}
#f_header li:nth-child(2) span{
    width:1.84375rem;height:0.75rem;text-align: center;
    line-height: 0.75rem;background-color: #63D985;
}
#f_header li:nth-child(2) span:nth-child(1){
    border-radius:0.375rem  0 0 0.375rem;
}
#f_header li:nth-child(2) span:nth-child(2){
    border-radius:0 0.375rem  0.375rem 0 ;
}
#f_header li:nth-child(2) .active{
    background: #3DD066;
}


#f_nav ul{height: 1.109375rem;border-bottom: 0.015625rem solid #D9D9D9;display:flex;}
#f_nav li{flex:1;text-align: center;line-height: 1.109375rem;font-size:0.4375rem;color:#676767;}
#f_nav .active{color:#69C282;border-bottom: 0.078125rem solid #08C63E;}



#f_main{flex:1;overflow-x:hidden;}
#f_main ul{display:flex;flex-wrap:wrap;}
#f_main ul li{width:49%;border:0.015625rem solid #ccc;}
#f_main ul li:nth-child(2n-1){margin-right:2%;}
#f_main ul li img{width: 100%;}
#f_main ul li p{font-size:0.375rem;color:#303030;}




#f_footer ul{height: 1.375rem;border-top: 0.015625rem solid #D9D9D9;display:flex;}
#f_footer li{flex:1;display:flex;flex-direction: column;justify-content: center;text-align: center;position:relative;}
#f_footer li i{font-size:0.5625rem;/*font-size:36px;*/}
/*36*/
#f_footer li span{font-size: 0.375rem;}

#f_footer li:nth-child(3) i{position:absolute;width: 1.640625rem;height: 1.640625rem;border:0.015625rem solid red;border-radius: 50%;background: #fff;left: 50%;transform: translate(-50%,-0.078125rem);text-align:center;line-height: 1.375rem;font-size:0.9375rem;}



/*
开发平台：
设计稿640px  =>iphone5
设计稿750px  =>iphone6

1.meta:vp,加上id名。
2.引入5句js代码（前两句是帮我们设置好了不同设备的根部字体大小）
3.根据你的设计稿，判断你的开发平台，去控制台查看其设备条件下根部字体大小。在插件设置好px转rem的值，就能直接转换。
*/
/*如果以后做rem布局的时候，字体大小通过rem修改后不协调，将其改回px单位，通过媒体查询进行单独修改*/

/*iphone5 320px  20px*/
/*@media screen and (min-device-width:768px){
    #f_footer li i{font-size:72px;}
}*/